<p id="notice"><%= notice %></p>

<h1>Listing Customers</h1>

<table class="table-striped table-bordered">
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Company</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Country</th>
      <th>Postalcode</th>
      <th>Phone</th>
      <th>Fax</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.FirstName %></td>
        <td><%= customer.LastName %></td>
        <td><%= customer.Company %></td>
        <td><%= customer.Address %></td>
        <td><%= customer.City %></td>
        <td><%= customer.State %></td>
        <td><%= customer.Country %></td>
        <td><%= customer.PostalCode %></td>
        <td><%= customer.Phone %></td>
        <td><%= customer.Fax %></td>
        <td><%= customer.Email %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @customers %>
  </div>
  <%= will_paginate @customers, :container => false %>
</div>
<br>

<%= link_to 'New Customer', new_customer_path %>
